// Colors

$primary: #f8df39;
$secondary: #111111;

$white: #ffffff;

$text: #222222;

$grey: #707070;

$background: #fafafa;


// Radius

$radius: 10px;


// Shadow

$shadow:

0 8px 25px rgba(0,0,0,.08);


// Transition

$transition: .3s ease;